// Import standard theme color definitions
@import '../../../node_modules/react-md/src/scss/colors';

$white: #fff;
$green: $md-green-500;
$red: $md-red-500;
$black: black;
$lightgray: lightgray;
$lightgreen: $md-green-100;
$lightblue: $md-light-blue-100;
$linear-green: $md-green-400;
$linear-blue: $md-light-blue-700;
$box-shadow: $md-grey-800;
$floralwhite: floralwhite;
$indianred: indianred;
$light-grey: #718792;
$grey-text: #E3E3E3;
$pink: #880E4F;
$lighter-pink: #BC477B;
$light-pink: #AC3068;
$dark-grey: #455A64;
$black-grey: #102027;
$blue-grey: $md-blue-grey-400;
$maroon: #560027;
$font-white: $md-grey-300;
$header-font: Lato;
