// Import standard theme color definitions
@import '../../../node_modules/react-md/src/scss/colors';

$white: #fff;
$green: $md-green-500;
$red: $md-red-500;
$black: black;
$lightgray: lightgray;
$lightgreen: $md-green-100;
$lightblue: $md-light-blue-100;
$linear-green: $md-green-400;
$linear-blue: $md-light-blue-700;
$box-shadow: $md-grey-800;
$gray-text: rgba(82, 101, 106, 1);
$floralwhite: floralwhite;
$indianred: indianred;