@import './variables';

.ClientForm {
  padding-top: 40px;
  width: 686px;
  margin-left: 15px;
  background-color: $grey-white;
  padding-bottom: 20px;

  .ClientForm__client-section {
    height: 135px;
  }

  .ClientForm__client--details {
    margin-top: -40px;
    margin-bottom: 70px;
  }

  .ClientForm__bottom-section {
    margin-top: -70px;
    margin-bottom: 40px;
    margin-left: 470px;
  }

  .ClientForm__forms-section {
    background-color: $white;
  }

  .ClientForm__save {
    color: $light-pink;
    font-weight: bold;
  }

  .ClientForm__remove {
    color: $light-pink;
    margin-left: 35px;   
    font-weight: bold;
  }

  .ClientForm__registered {
    color: $light-green;
    margin-left: -465px;   
    display: none; 
  }

  .md-avatar {
    border: 2px solid $light-green;
    height: 20px;
    width: 20px;
  }

  .ClientForm__saved-icon {
    font-size: 12px;
  }
}