@import './variables';

@mixin prev-next() {
  height: 24px;
  width: 114px;
  color: $lighter-pink;
  font-size: 14px;	
  font-weight: bold;	
  line-height: 23px;
  padding-top: 1px;

  &:disabled {
    color: $grey-text;
  }
}

.DomainPage {
  max-height: 598px;
  padding-top: 65px;
  padding-bottom: 8px;
  font-family: Muli;

  .md-card-title--large {
    font-weight: bold;
  }

  .card-centered {
    border-radius: 5px;
    margin: -2px auto -30px auto;
    width: 731px;
    max-height: 470px;
    min-height: 480px;
    background-color: $grey-white;    
  }

  .DomainPage__tabs {
    background-color: $light-grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .md-tab-indicator {
    background: $pink;
    height: 5px !important;
  }

  .md-tab-label {
    color: $white;
    font-size: 18px;
  }

  .md-tab--active .md-tab-label {
    font-weight: bolder;
  }

  .DomainPage__domain-name {
    color: $white;
    text-align: center;
    margin-top: -35px;
  }
  
  .DomainPage__plus-icon {
    margin-top: 7px;
    margin-left: -16px;
    position: relative;
    left: 977px;
    bottom: 440px;
    color: $white;
    background-color: $lighter-pink;
    height: 56px;
    width: 56px;
    
    & > i {
      font-size: 50px;
      margin: -10px 0 0 -10px;
    }
  }

  .DomainPage__button-prev {
    @include prev-next();
  }

  .DomainPage__button-next {
    @include prev-next();
    margin-left: 500px;
  }

  .DomainPage__line {
    width: 688px;
    color: $light-gray;
    margin-bottom: 15px;
    margin-top: 15px;    
  }

  #domain-tab-panel-0 {
    max-height: 355px;
    min-height: 355px;
    padding-top: 25px;    
  }

  #domain-tab-panel-1 {
    max-height: 355px;
    min-height: 355px;
    padding-top: 25px;
  }

  #domain-tab-panel-2 {
    max-height: 355px;
    min-height: 355px;
  }

  .DomainPage__clients-msg {
    height: 27.34%;
    width: 31.46%;
    color: $text-grey;
    font-family: Muli;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    margin-top: 110px;
    margin-left: 250px;
  }
  
  .DomainPage__roles--card {
    background-color: $grey-white;
    margin-top: -20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 350px;
    margin-left: 15px;
		width: 717px;
  }

  .DomainPage_roles--no-data {
	  color: $text-grey;
    word-break: break-word;
    word-wrap: break-word;
    text-align: center;
  } 

  .DomainPage__red {
    color: $red;
    margin-left: 211px;
  }

  .DomainPage__green {
    color: $green;
    margin-left: 211px;
  }

  .DomainPage__message-green {
   color: $green;
   margin: 8px;
  }

  .DomainPage__message-red {
   color: $red;
   margin: 8px;
  }

  .DomainPage__icon {
    float: left;
  }

  #domain-tab-panel-0 {
    max-height: 380px;
    min-height: 380px;
  }

  #domain-tab-panel-1 {
    max-height: 380px;
    min-height: 380px;
  }

  #domain-tab-panel-2 {
    max-height: 380px;
    min-height: 380px;
  }

  .DomainPage__navigate {
    margin-top: -10px;
   }

   .DomainPage__roles--modal-delete {
    font-family: Muli;
    font-size: 16px;
    border-radius: 5px;
    position: fixed;
    max-height: 250px;
    min-height: 250px;
  } 
  
  .DomainPage__roles--delete-yes {
    float: right;
    color: $lighter-pink;
    position: relative;
  }

  .DomainPage__roles--delete-no {
    float: left;
    color: $lighter-pink;
    position: relative;
    margin-left: 56px;
  }

  .DomainPage__roles--delete {
    color: $black;
    font-weight: 600;
  }

  .DomainPage__roles--delete-label-yes {
     font-weight: 600;
  }

  .DomainPage__roles--delete-label-no {
     font-weight: 600;
  }
}