@import './variables';

@mixin prev-next() {
  height: 24px;
  width: 114px;
  color: $lighter-pink;
  font-size: 18px;	
  font-weight: bold;	
  line-height: 23px;

  &:disabled {
    color: $grey-text;
  }
}

.DomainPage {
  max-height: 598px;
  padding-top: 100px;
  padding-bottom: 8px;
  font-family: Muli;

  .md-card-title--large {
    font-weight: bold;
  }

  .card-centered {
    border-radius: 5px;
    margin: 2px auto -10px auto;
    width: 731px;
    max-height: 470px;
    min-height: 430px;
  }

  .DomainPage__tabs {
    background-color: $light-grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .md-tab-indicator {
    background: $pink;
    height: 5px !important;
  }

  .md-tab-label {
    color: $white;
    font-size: 18px;
  }

  .md-tab--active .md-tab-label {
    font-weight: bolder;
  }

  .DomainPage__domain-name {
    color: $white;
    text-align: center;
    margin-top: -70px;
  }
  .DomainPage__plus-icon {
    margin-top: 38px;
    margin-left: -16px;
    position: relative;
    left: 977px;
    bottom: 440px;
    color: $white;
    background-color: $lighter-pink;
    height: 56px;
    width: 56px;
    
    & > i {
      font-size: 50px;
      margin: -10px 0 0 -10px;
    }
  }

  .DomainPage__button-prev {
    @include prev-next();
  }

  .DomainPage__button-next {
    @include prev-next();
    margin-left: 500px;
  }

  .DomainPage__line {
    width: 688px;
    color: $light-grey;
  }
  
  .Domain__roles--card {
    background-color: #F4F4F4;
    margin-top:-72px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 304px;
		width: 717px;
  }

  .Domain_roles--no-data {
	  color: #A7A7A7;
    word-break: break-word;
    word-wrap: break-word;
    text-align: center;
  } 

  #domain-tab-panel-0 {
    max-height: 380px;
    min-height: 380px;
  }

  #domain-tab-panel-1 {
    max-height: 380px;
    min-height: 380px;
  }

  #domain-tab-panel-2 {
    max-height: 380px;
    min-height: 380px;
  }
  .DomainPage__navigate {
    margin-top: -65px;
   }
}