@import 'variables';

.Header__toolbar {
  height: 48px;

  > h2.md-title {
    line-height: 48px;
    margin: 0 0 0 20px;
  }
}

.Header__header-img-div {
  margin: 0 0 0 -10px;
}

.Header__header-username-keyfob {
  color: $white;
  margin-left: -133px;
  margin-top: 3px !important;
  position: relative;
  width: 161px;
  float: left;
}

.Header__username {
  margin: -28px 0 0 28px;
  word-wrap: break-word;
  width: 80px;
  position: absolute;
}

.Header__header-sign-out {
  margin: -45px 0 0 105px;
  padding-left: 5px;
  position: fixed;
}

.Header__header-img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 7px;
}

.Header__inner-div {
  margin-left: -43px;
  position: absolute;
}

.Header__title-link {
  font-size: 28px !important;
  font-weight: bold !important;
  text-decoration: none !important;
  margin-top: -8px !important;
}

 .Header__title-fob {
  font-weight: 100px !important;    
}
