@import 'variables';

.Header__toolbar {
  height: 48px;
}

.Header_username-img {
  margin-top: -4%;
  color: $white;
  margin-left: -133px;
  width: 161px;
}

.Header__username {
  margin: -30px 0 0 -65px;
  word-wrap: break-word;
  width: 80px;
  position: absolute;
  font-size: 18px;
  font-family: $header-font;
}

.Header__sign-out {
  margin: -45px 0 0 105px;
  padding-left: 5px;
  position: fixed;
  margin-top: -51px;
}

.Header__title-logo {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 7px;
}

.Header__info {
  font-size: 36px !important;
  margin-left: auto !important;
  font-family: $header-font;
}

.Header__title-key {
  font-weight: bolder;  
  color: $white;
  margin-left: 25%;
  font-family: $header-font;
}

.Header__title-fob {
  font-weight: 300;    
  font-family: $header-font;
}

.Header__sign-out-button {
  color: $white !important;
  font-size: 18px;
  font-family: $header-font;
  font-style: italic;
  height: 30px;
  width: 80px;
  margin-left: -88px;
  margin-top: 20px;
}

.Header__user-icon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 7px;
  margin-left: -100px;
}

.Header__title {
  margin-top: -32%;
  margin-left: -10px;
}

.Header_home {
  color: $white !important;
  margin-left: -510px;
}

.Header_home-text {
  font-size: 18px;
  font-family: $header-font;
  color: $white;
  margin-top: -26px;
  margin-right: -100px;
}

