@import './variables';

.ManageDomainPage {
  min-height: 598px;
  max-height: 598px;
  padding-top: 100px;
  padding-bottom: 8px;
  font-family: Muli;

  .card-block-centered {
    border-radius: 5px;
    margin: 10px auto;
    width: 731px;
    max-height: 470px;
    min-height: 470px;
  }

 .ManageDomainPage__domain-name {
    color: $white;
    text-align: center;
    margin-top: -70px;
    
  }

 .ManageDomainPage__domain-numbers {
    background-color: $blue-grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    
    .ManageDomain__domain-text {
      color: $white;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 25px;
    }

    .ManageDomain__plus-icon {
      color: $white;
      background-color: $lighter-pink;
      position: relative;
      bottom: 40px;
      left: 666px;
      height: 56px;
      width: 56px;
    }
    
  }

  .ManageDomainPage__domain-list {
    margin-left: 10px;
    margin-right: 10px;
    height: 420px;
    overflow-y: auto;
}

 .ManageDomainPage__background {
    height: 598px;
    overflow-y: hidden;
  }
  
  .ManageDomain__spinner-div {
    position: relative;
    left: 45%;
    top: 50px;
  }

  .ManageDomainPage__no-domain {
    color: $grey;
    font-family: Muli;
    text-align: center;
    position: relative;
    top: 200%;
  }

 .fa {
    display: inline-block;
    font: normal normal normal 30px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    }
  
  .ManageDomain__Modal--delete {
    font-family: Muli;
    font-size: 13px;  
    border-radius: 5px;
    position: fixed;
    max-height: 250px;
    min-height: 250px;
}
  
  .ManageDomain__button--delete-yes {
    float: right;
    color: $lighter-pink;
  }

  .ManageDomain__button--delete-no {
    float: right;
    color: $lighter-pink;
  }

}


