@import './variables';

.RolesForm {
  padding-top: 40px;
  width: 686px;
  margin-left: 15px;
  background-color: $grey-white;
  padding-bottom: 20px;

  .RolesForm__forms-section {
	  background-color: $white;
  }

  .RolesForm__role-section {
    height: 135px;
  }

  .RolesForm__role--detail {
    margin-top: -40px;
    margin-bottom: 70px;
  }

  .RolesForm__bottom-section {
    margin-top: -70px;
    margin-bottom: 40px;
    margin-left: 470px;
  }

  .RolesForm__save { 
	  display: inline;
    color: $light-pink;
    font-weight: bold;

      &:disabled {
      color: $grey-text;
     } 
  }

  .RolesForm__remove { 
	  display: inline;
    color: $light-pink;
    font-weight: bold
  }

  .Roles__message {
    margin-top: -69px;
	  margin-left: -192px !important;
  }

  #Roles_div {
	  .md-text-field {
		  color: $black;
		  font-size: 1.5em;
		}
			
		.md-divider {
			background-color: $black  ;
		} 
  }
} 
