@import './variables';

.Roles__form {
    margin-top :20px;
    width: 100%;
    overflow-x: hidden;
}

.Roles_rectangle {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}
.Roles__button--save {
    margin-left: 530px;
}

.Roles__button--remove { 
    margin-left: 596px;    
    margin-top: -32px;
}

#Roles_div {
    .md-text-field {
      color: $black;
      font-size: 1.5em;
     
		}
        .md-divider {
      background-color: black;
    } 
}

