@import './variables';

.Roles__form {
	margin-top :20px;
	width: 100%;
	overflow-x: hidden;
}

.Roles_rectangle {
	background-color: $white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.Roles__buttons {
	float: right;
}

.Roles__button { 
	display: inline;
}

.Roles__message {
	margin-left: -192px !important;
}

#Roles_div {
	.md-text-field {
		color: $black;
		font-size: 1.5em;
		}
			
		.md-divider {
			background-color: black;
		} 
}